{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        {% if data %}
            <br><div class="alert alert-danger">{{data}}</div>
        {% endif %}
        <h1 class="page-header">Login</h1>
    </div>
</div>
<div class="col-lg-6">
    <div class="row">
        <h4 style="display: inline;">Don't have an account? Click <a href="/register">here</a> to register.</h4><br><br>
        <h2 style="color:red;">User: test<br>Password: test</h2>
    </div>
</div>
<div class="col-lg-6">
	<div class="row">

    {% if session['logged_in'] %}
      <div class="alert alert-danger"><strong>Error!</strong> You are already logged in.</div><br>
    {% else %}

		<form class="form-horizontal" action="" method="POST" name="login">
			<fieldset>
				<div class="form-group">
					<label for="user" class="control-label col-sm-2">Username</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="username" >
					</div>
				</div>
				<div class="form-group">
					<label for="passwd" class="control-label col-sm-2">Password</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" name="password">
					</div>
				</div>
				<div class="form-group">
					<div class="text-right col-sm-10">
						<button type="submit" value="Log in" class="btn btn-success" aria-label="">Log in</button>
					</div>
				</div>
			</fieldset>
		</form>
    {% endif %}
	</div>
</div>
{% endblock %}
